Repository wjywy/AI-Chat: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,less,scss,sass}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: 添加agent列表（mock）
  packages/ai-chat-pc/src/components/Author/AuthLanguageSwitch.tsx
  packages/ai-chat-pc/src/components/Conversation/ConversationSidebar.tsx
  packages/ai-chat-pc/src/index.css
  packages/ai-chat-pc/src/pages/Agents/index.tsx
  packages/ai-chat-pc/src/router/index.tsx
  packages/ai-chat-pc/src/styles/agents.css
  packages/ai-chat-pc/src/types/agent.ts
  packages/ai-chat-pc/tailwind.config.js
Due: prettier --write, eslint --fix

fix: 修改欢迎语
  packages/ai-chat-pc/src/constant/index.ts
Due: prettier --write, eslint --fix

feat: 转化流式数据返回的内容为markdown格式渲染
  packages/ai-chat-pc/src/components/Bubble/bubble.css
  packages/ai-chat-pc/src/components/Bubble/bubble.tsx
  packages/ai-chat-pc/src/components/Bubble/content.tsx
Due: prettier --write, eslint --fix

feat: 修改导航栏图标
  index.html
  packages/ai-chat-pc/index.html
Due: none

feat: 添加输入框Prompts，输入框值发送后清空输入框
  packages/ai-chat-pc/src/components/AIRichInput/index.tsx
Due: prettier --write, eslint --fix

feat: 添加markdown、代码高亮依赖
  packages/ai-chat-pc/package.json
Due: prettier --write

feat: 添加markdown、代码高亮依赖
  pnpm-lock.yaml
Due: none

feat: 添加三方登录
  packages/ai-chat-pc/src/components/Author/SocialLoginButtons.tsx
  packages/ai-chat-pc/src/pages/Login/index.tsx
Due: prettier --write, eslint --fix

feat: 去掉多余导入
  packages/ai-chat-pc/src/components/Author/AuthLayout.tsx
  packages/ai-chat-pc/src/components/Author/AuthLink.tsx
Due: prettier --write, eslint --fix

fix: 列表连带着菜单滚动的bug
  packages/ai-chat-pc/src/components/Conversation/ConversationSidebar.tsx
Due: prettier --write, eslint --fix
